@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.flex__box {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  border-radius: 0.5rem;
  position: relative;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}
.flex__box img {
  border-radius: 0.5rem;
  max-width: 100%;
  position: relative;
  display: block;
}
